<%- include("header"); -%>

  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome to TurtleBox!</h5>
            <p class="card-text">The digital InfoBuffet awaits...</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary" type="button">Get Started</a>
              <a href="#" class="btn btn-secondary" type="button">Read the Docs</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%- include("footer"); -%>
