<%- include("header"); -%>

  <div class="container text-center">
    <div class="row row-cols-2">
      <% views.forEach((view) => { %>
        <div class="col">
        <%- include(view); -%>
        </div>
      <% }); %>
      
    </div>
  </div>

<%- include("footer"); -%>
