<%- include("header"); -%>

  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">

        <% views.forEach((view) => { %>
          <%- include(view); -%>
        <% }); %>

      </div>
    </div>
  </div>

<%- include("footer"); -%>
